<h1><%= @garden.name %>' Show Page</h1>
<h2>Organic? <%= @garden.organic %></h2>

<section id="plants">
  <% @garden_plants.each do |plant| %>
    <%= plant[0] %>: <%= plant[1] %><br/>
  <% end %>
</section>
